#Choose{
	text-transform: uppercase;
	font-weight: bold;
	font-family: Gabriola;
}

#text{
	font-size: 14px;
}

#recruit{
	font-family: Comic Sans MS;
}

#job{
	text-transform: uppercase;
	font-weight: bold;
}

#nav{
	background: rgba(153,0,0);
	border: none;
}

#slideText{
	color: #fff; 
	margin-bottom: 150px;
}

#h1{
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-top: 180px;
	font-family: Comic Sans MS;
	text-transform: capitalize;
}

#button{
	background: rgba(153,0,0);
	color: #fff;
	font-family: Bodoni MT Black;
	outline: none;
}

#button:hover{
	background: rgba(133,0,0);
}

#vacancies{
	text-transform: uppercase;
	color: #fff;
	padding-top: 30px;
	font-weight: bold;
}

@media (min-width: 150px) and (max-width: 550px){
	#img{
		padding-bottom: 10px;
	}
}

@media(min-width: 150px) and (max-width: 770px){
	#c101{
		width: 100%
	}
}

@media (min-width: 550px) and (max-width: 1000px){
	#img{
		width: 300px;
		padding-bottom: 10px;
	}
}

@media (min-width: 500px) and (max-width: 766px){
	#box{
		width: 450px;
		margin: auto;
	}
	
}

/*vacancies ///////////////////
//////////////////////////
//////////////////// */

#description{
font-family: century gothic;
color: #000;
font-size: 14px;
}

#qualification{
	font-family: century gothic;
	margin-top: -25px;
	color: #000;
	font-size: 14px;
}

#experience{
	font-family: century gothic;
	margin-top: -25px;
	color: #000;
	font-size: 14px;
}

#date{
	margin-top: -5px;
	float: right;
	color: #000;
	font-size: 14px;
	font-style: italic;
}

#title{
	font-family: century gothic;
	text-transform: capitalize;
}

.apply{
	background: rgb(0,173,124);
	color: #fff;
}

/*///	vacancies	 ///////////////////
//////////////////////////
//////////////////// */


/*   application form///////////////////
//////////////////////////
//////////////////// */
#login_container{
	border-radius: 10px;
	padding: 30px;
	margin-top: 30px;
	background: orange;
	color: white;
}

#login_form{
	border-radius: 10px;
	padding: 10px;
	padding-top: 30px;
	background: white;
	color: grey;
	font-weight: normal;
}

#text{
	font-size: 14px;
}

#login_btn{
	background: orange;
	color: #fff;
}

#login_head{
	text-transform: capitalize;
}

/* ////  new  login///////////////////
//////////////////////////
//////////////////// */


/*   appication form///////////////////
//////////////////////////
//////////////////// */


#box1{
	border-radius: 10px;
	margin-top: 150px;
	padding: 20px;
	width: 40%;
	background: orange;
	color: #fff;
}

#box2{
	background: #fff;
	color: #000;
	border-radius: 10px;
	width: 90%;
	padding: 20px;
	box-shadow: 0px 0px 20px grey;
}

#loginbtn{
	float: right;
	background: orange;
	color: #fff;
	-webkit-animation: login 2s infinite;
	-moz-animation: login 2s infinite;
	outline: none;
}

@-webkit-keyframes login{
	50%{
		box-shadow: 0px 0px 20px orangered;
	}
}

@-moz-keyframes login{
	50%{box-shadow: 0px 0px 10px orangered;}
}

#icon{
	font-size: 30px;
	-webkit-animation: icon 5s infinite;
	-moz-animation: icon 5s infinite;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
}

@-webkit-keyframes icon{
	50%{
		transform: rotateY(360deg);
	}
}

@-moz-keyframes icon{
	50%{
		transform: rotateY(360deg);
	}
}

@media (min-width: 50px) and  (max-width: 900px){
	#box1{
		width: 55%;	
	}

	#box2{
		width: 90%;	
	}
}

@media (min-width: 50px) and  (max-width: 650px){
	#box1{
		width: 70%;	
	}

	#box2{
		width: 90%;	
	}
}

@media (min-width: 50px) and  (max-width: 400px){
	#box1{
		width: 100%;	
	}

	#box2{
		width: 90%;	
	}
}

/* ////  applicaton  login///////////////////
//////////////////////////
//////////////////// */

#backToTop{
	position: fixed; 
	z-index: 1; 
	right: 20px; 
	bottom: 20px;
}

#backToTop:hover{
	box-shadow: 0px 0px 10px grey;
	border-radius: 50%;
}

#form{
	box-shadow: 0px 0px 10px grey;
	margin: 50px 0 50px 0;
}